USE [master]
GO
/****** Object:  Database [bookingProject]    Script Date: 7/17/2023 3:56:51 AM ******/
CREATE DATABASE [bookingProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bookingProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\bookingProject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bookingProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\bookingProject_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bookingProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bookingProject]
GO
/****** Object:  Schema [trandtrieu]    Script Date: 7/17/2023 3:56:52 AM ******/
CREATE SCHEMA [trandtrieu]
GO
/****** Object:  Table [dbo].[account]    Script Date: 7/17/2023 3:56:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[u_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](max) NULL,
	[password] [nvarchar](20) NULL,
	[email] [nvarchar](30) NULL,
	[phone] [int] NULL,
	[role] [int] NULL,
	[avatar] [nvarchar](max) NULL,
 CONSTRAINT [PK__account__3213E83F5820D8AE] PRIMARY KEY CLUSTERED 
(
	[u_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blog]    Script Date: 7/17/2023 3:56:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog](
	[blog_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NULL,
	[author_id] [int] NULL,
	[updated_date] [date] NULL,
	[content] [nvarchar](max) NULL,
	[thumbnail] [nvarchar](max) NULL,
	[brief_infor] [nvarchar](max) NULL,
	[categoryBlog_id] [int] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_blog] PRIMARY KEY CLUSTERED 
(
	[blog_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bookTour]    Script Date: 7/17/2023 3:56:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookTour](
	[o_id] [int] IDENTITY(1,1) NOT NULL,
	[t_id] [int] NULL,
	[u_id] [int] NULL,
	[book_date] [varchar](450) NULL,
	[book_cusName] [nvarchar](max) NULL,
	[book_address] [nvarchar](max) NULL,
	[book_phone] [char](10) NULL,
	[book_email] [nvarchar](50) NULL,
	[book_quantityAd] [int] NULL,
	[book_quantityChild] [int] NULL,
	[note] [nvarchar](max) NULL,
	[total_amount] [float] NULL,
 CONSTRAINT [PK_bookTour] PRIMARY KEY CLUSTERED 
(
	[o_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_blog]    Script Date: 7/17/2023 3:56:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_blog](
	[categoryBlog_id] [int] IDENTITY(1,1) NOT NULL,
	[categoryBlog_name] [nvarchar](max) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_category_blog] PRIMARY KEY CLUSTERED 
(
	[categoryBlog_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feedbackTour]    Script Date: 7/17/2023 3:56:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedbackTour](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](max) NULL,
	[rated_star] [int] NULL,
	[feedback] [nvarchar](max) NULL,
	[tourId] [int] NULL,
	[u_id] [int] NULL,
	[date] [date] NULL,
	[avatar] [nvarchar](max) NULL,
	[parent_feedback_id] [int] NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orderRequest]    Script Date: 7/17/2023 3:56:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderRequest](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[groupName] [nvarchar](max) NULL,
	[cusName] [nvarchar](max) NULL,
	[phone] [nvarchar](11) NULL,
	[email] [nvarchar](max) NULL,
	[tourName] [nvarchar](max) NULL,
	[priceEstimated] [float] NULL,
	[dateStart] [date] NULL,
	[dateEnd] [date] NULL,
	[quantityAd] [int] NULL,
	[quantityChildren] [int] NULL,
	[note] [nvarchar](max) NULL,
	[u_id] [int] NOT NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_orderRequest] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[place]    Script Date: 7/17/2023 3:56:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[place](
	[placeId] [int] IDENTITY(1,1) NOT NULL,
	[placeName] [nvarchar](50) NOT NULL,
	[placeContent] [nvarchar](max) NULL,
	[placeImage] [nvarchar](50) NULL,
	[regionId] [int] NOT NULL,
 CONSTRAINT [PK_place] PRIMARY KEY CLUSTERED 
(
	[placeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[region]    Script Date: 7/17/2023 3:56:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[region](
	[regionId] [int] IDENTITY(1,1) NOT NULL,
	[regionName] [nvarchar](max) NULL,
	[regionImage] [nvarchar](max) NULL,
	[regionDetail] [nvarchar](max) NULL,
 CONSTRAINT [PK_region] PRIMARY KEY CLUSTERED 
(
	[regionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 7/17/2023 3:56:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[role] [int] NOT NULL,
	[roleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tour]    Script Date: 7/17/2023 3:56:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tour](
	[tourId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[price] [float] NOT NULL,
	[dateStart] [date] NULL,
	[dateEnd] [date] NULL,
	[detail] [nvarchar](max) NOT NULL,
	[image] [nvarchar](max) NOT NULL,
	[status] [bit] NOT NULL,
	[placeId] [int] NOT NULL,
	[guideId] [int] NULL,
	[schedule] [nvarchar](max) NULL,
	[regionId] [int] NULL,
	[seat] [int] NULL,
 CONSTRAINT [PK_tour] PRIMARY KEY CLUSTERED 
(
	[tourId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tourGuider]    Script Date: 7/17/2023 3:56:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tourGuider](
	[guideId] [int] IDENTITY(1,1) NOT NULL,
	[guideName] [nvarchar](50) NOT NULL,
	[guideAge] [int] NOT NULL,
	[guideImage] [nvarchar](50) NOT NULL,
	[guideEmail] [nvarchar](50) NOT NULL,
	[guidePhone] [nvarchar](15) NOT NULL,
	[guideAddress] [nvarchar](max) NULL,
	[guideYearExperience] [int] NULL,
	[guideSex] [nvarchar](10) NULL,
	[guideDetail] [nvarchar](max) NULL,
	[u_id] [int] NULL,
 CONSTRAINT [PK_tourGuider] PRIMARY KEY CLUSTERED 
(
	[guideId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[view]    Script Date: 7/17/2023 3:56:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[view](
	[viewed] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[account] ON 

INSERT [dbo].[account] ([u_id], [username], [password], [email], [phone], [role], [avatar]) VALUES (1, N'abc', N'12345678', N'abc@gmail.com', 123456789, 0, N'trieu1.jpg')
INSERT [dbo].[account] ([u_id], [username], [password], [email], [phone], [role], [avatar]) VALUES (4, N'trandtrieu', N'12345678', N'tr@gmail.com', 1232323, 0, N'team-1.jpg')
INSERT [dbo].[account] ([u_id], [username], [password], [email], [phone], [role], [avatar]) VALUES (5, N'de', N'12345678', N'trieutdde160252@fpt.edu.vn', 867167237, 0, N'hainam.jpg')
SET IDENTITY_INSERT [dbo].[account] OFF
GO
SET IDENTITY_INSERT [dbo].[blog] ON 

SET IDENTITY_INSERT [dbo].[blog] OFF
GO
SET IDENTITY_INSERT [dbo].[bookTour] ON 

INSERT [dbo].[bookTour] ([o_id], [t_id], [u_id], [book_date], [book_cusName], [book_address], [book_phone], [book_email], [book_quantityAd], [book_quantityChild], [note], [total_amount]) VALUES (223, 5, 4, N'2023-04-26', N'trieu tran', N'Tỉnh Bắc Ninh, Huyện Yên Phong, Xã Văn Môn', N'0789458707', N'trandtrieu@gmail.com', 12, 0, N'2324', 18000000)
INSERT [dbo].[bookTour] ([o_id], [t_id], [u_id], [book_date], [book_cusName], [book_address], [book_phone], [book_email], [book_quantityAd], [book_quantityChild], [note], [total_amount]) VALUES (224, 2, 4, N'2023-06-26', N'tran dinh trieu', N'Tỉnh Cao Bằng, Huyện Bảo Lâm, Thị trấn Pác Miầu', N'0789458707', N'trandtrieu@gmail.com', 1, 0, N'213', 800000)
INSERT [dbo].[bookTour] ([o_id], [t_id], [u_id], [book_date], [book_cusName], [book_address], [book_phone], [book_email], [book_quantityAd], [book_quantityChild], [note], [total_amount]) VALUES (228, 2, 4, N'2023-06-26', N'12 trie', N'Thành phố Hải Phòng, Huyện Cát Hải, Xã Việt Hải', N'0867167237', N't@gmail.com', 1, 0, N'qưe', 800000)
SET IDENTITY_INSERT [dbo].[bookTour] OFF
GO
SET IDENTITY_INSERT [dbo].[category_blog] ON 

INSERT [dbo].[category_blog] ([categoryBlog_id], [categoryBlog_name], [status]) VALUES (4, N'Thiên nhiên', 1)
INSERT [dbo].[category_blog] ([categoryBlog_id], [categoryBlog_name], [status]) VALUES (6, N'trang trọng', 1)
INSERT [dbo].[category_blog] ([categoryBlog_id], [categoryBlog_name], [status]) VALUES (8, N'cổ điển', 1)
SET IDENTITY_INSERT [dbo].[category_blog] OFF
GO
SET IDENTITY_INSERT [dbo].[feedbackTour] ON 

INSERT [dbo].[feedbackTour] ([feedback_id], [username], [rated_star], [feedback], [tourId], [u_id], [date], [avatar], [parent_feedback_id]) VALUES (19, N'abc', 5, N'tuyet voi', 2, 1, NULL, N'trieu1.jpg', NULL)
INSERT [dbo].[feedbackTour] ([feedback_id], [username], [rated_star], [feedback], [tourId], [u_id], [date], [avatar], [parent_feedback_id]) VALUES (22, N'abc', 5, N'rat ok', 2, 1, NULL, N'trieu1.jpg', NULL)
INSERT [dbo].[feedbackTour] ([feedback_id], [username], [rated_star], [feedback], [tourId], [u_id], [date], [avatar], [parent_feedback_id]) VALUES (23, N'abc', 5, N'ádasd', 2, 1, CAST(N'2023-06-15' AS Date), N'trieu1.jpg', NULL)
SET IDENTITY_INSERT [dbo].[feedbackTour] OFF
GO
SET IDENTITY_INSERT [dbo].[orderRequest] ON 

INSERT [dbo].[orderRequest] ([id], [groupName], [cusName], [phone], [email], [tourName], [priceEstimated], [dateStart], [dateEnd], [quantityAd], [quantityChildren], [note], [u_id], [status]) VALUES (130, N'nguoi quang nam', N'nguoi quang nam', N'1232323', N'tr@gmail.com', N'Tour Đà Nẵng- Hội An', 850000, CAST(N'2023-07-14' AS Date), CAST(N'2023-07-14' AS Date), 12, 12, N'123123', 4, 1)
INSERT [dbo].[orderRequest] ([id], [groupName], [cusName], [phone], [email], [tourName], [priceEstimated], [dateStart], [dateEnd], [quantityAd], [quantityChildren], [note], [u_id], [status]) VALUES (131, N'trieu tran', N'trieu tran', N'0789458707', N'trandtrieu@gmail.com', N'Tour Đà Nẵng- Hội An', 1000000, CAST(N'2023-07-14' AS Date), CAST(N'2023-07-15' AS Date), 12, 12, N'qưeqwe', 4, 0)
INSERT [dbo].[orderRequest] ([id], [groupName], [cusName], [phone], [email], [tourName], [priceEstimated], [dateStart], [dateEnd], [quantityAd], [quantityChildren], [note], [u_id], [status]) VALUES (134, N'tran dinh trieu', N'tran dinh trieu', N'0789458707', N'trandtrieu@gmail.com', N'Tour Đà Nẵng- Hội An', 2000000, CAST(N'2023-07-06' AS Date), CAST(N'2023-07-07' AS Date), 123, 123, N'123123', 4, 0)
SET IDENTITY_INSERT [dbo].[orderRequest] OFF
GO
SET IDENTITY_INSERT [dbo].[place] ON 

INSERT [dbo].[place] ([placeId], [placeName], [placeContent], [placeImage], [regionId]) VALUES (1, N'Đà Nẵng', N'Du lịch Đà Nẵng – nơi được mệnh danh là “thành phố đáng đến nhất Việt Nam” – nơi đây đang dần trở thành điểm sáng của cả nước trong lĩnh vực du lịch, thu hút hàng triệu lượt du khách mỗi năm bởi vẻ trẻ trung, văn minh, và hiện đại.', N'trieu.jpg', 2)
INSERT [dbo].[place] ([placeId], [placeName], [placeContent], [placeImage], [regionId]) VALUES (3, N'Quảng Trị', N'Du lịch Quảng Trị hiện đang thu hút cả các bạn trẻ và nhiều du khách nước ngoài khi không chỉ sở hữu những trang lịch sử kháng chiến chống giặc đầy hào hùng mà còn có những thắng cảnh thiên nhiên thu hút.', N'trieu.jpg', 2)
SET IDENTITY_INSERT [dbo].[place] OFF
GO
SET IDENTITY_INSERT [dbo].[region] ON 

INSERT [dbo].[region] ([regionId], [regionName], [regionImage], [regionDetail]) VALUES (1, N'Miền Bắc', N'bac.jpg', N'Du lịch Miền Bắc Việt Nam  được xem là cái nôi của nền văn hóa, lịch sử lâu đời của Việt Nam. Không những vậy, miền Bắc còn là nơi cất chứa vô cùng nhiều những vẻ đẹp của mẹ thiên nhiên. Đi du lịch miền Bắc Việt NAM, bạn sẽ được chiêm ngưỡng những công trình kiến trúc hoành tráng cùng cảnh quan thiên nhiên tuyệt đẹp')
INSERT [dbo].[region] ([regionId], [regionName], [regionImage], [regionDetail]) VALUES (2, N'Miền Trung', N'trung.jpg', N'Hội tụ đủ cái đẹp của nắng gió, biển xanh, mây trắng và cảnh quan hùng vĩ, du lịch miền Trung hấp dẫn đông đảo du khách bởi chính sự giao thoa tổng hòa này.')
INSERT [dbo].[region] ([regionId], [regionName], [regionImage], [regionDetail]) VALUES (3, N'Miền Nam', N'nam.jpg', N'Du lịch miền Nam khám phá trọn vẹn vẻ đẹp về thiên nhiên, con người và nét văn hóa của vùng đất nơi đây luôn là điều thu hút tín đồ yêu thích xê dịch. Những kinh nghiệm du lịch chi tiết cùng trải nghiệm thực tế về những địa điểm du lịch ở miền Nam giúp bạn có thêm thông tin cho chuyến du lịch miền Nam trọn vẹn nhất. ')
SET IDENTITY_INSERT [dbo].[region] OFF
GO
INSERT [dbo].[role] ([role], [roleName]) VALUES (0, N'Khách hàng')
INSERT [dbo].[role] ([role], [roleName]) VALUES (1, N'Quản trị viên')
INSERT [dbo].[role] ([role], [roleName]) VALUES (2, N'Hướng dẫn viên du lịch')
GO
SET IDENTITY_INSERT [dbo].[tour] ON 

SET IDENTITY_INSERT [dbo].[tour] OFF
GO
SET IDENTITY_INSERT [dbo].[tourGuider] ON 

INSERT [dbo].[tourGuider] ([guideId], [guideName], [guideAge], [guideImage], [guideEmail], [guidePhone], [guideAddress], [guideYearExperience], [guideSex], [guideDetail], [u_id]) VALUES (2, N'Trần Đình Triều', 20, N'trieu1.jpg', N'trieutdde160152@fpt.edu.vn', N'0789458707', N'Quảng Nam', 11, N'Nam', N'Đẹp trai vuii tính', 7)
INSERT [dbo].[tourGuider] ([guideId], [guideName], [guideAge], [guideImage], [guideEmail], [guidePhone], [guideAddress], [guideYearExperience], [guideSex], [guideDetail], [u_id]) VALUES (5, N'Nguyễn Văn Nhật Linh', 21, N'linh.jpg', N'linh@gmail.com', N'0679327323', N'Quảng Nam', 2, N'Nam', N'haha', 12)
INSERT [dbo].[tourGuider] ([guideId], [guideName], [guideAge], [guideImage], [guideEmail], [guidePhone], [guideAddress], [guideYearExperience], [guideSex], [guideDetail], [u_id]) VALUES (6, N'Phan Đình Đàn', 20, N'dan.jpg', N'dan@gmail.com', N'0234324234', N'Hà Tĩnh', 3, N'Nam', N'haha', 11)
SET IDENTITY_INSERT [dbo].[tourGuider] OFF
GO
INSERT [dbo].[view] ([viewed]) VALUES (4454)
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD  CONSTRAINT [FK_account_role] FOREIGN KEY([role])
REFERENCES [dbo].[role] ([role])
GO
ALTER TABLE [dbo].[account] CHECK CONSTRAINT [FK_account_role]
GO
ALTER TABLE [dbo].[blog]  WITH CHECK ADD  CONSTRAINT [FK_blog_category_blog] FOREIGN KEY([categoryBlog_id])
REFERENCES [dbo].[category_blog] ([categoryBlog_id])
GO
ALTER TABLE [dbo].[blog] CHECK CONSTRAINT [FK_blog_category_blog]
GO
ALTER TABLE [dbo].[bookTour]  WITH CHECK ADD  CONSTRAINT [FK_bookTour_account] FOREIGN KEY([u_id])
REFERENCES [dbo].[account] ([u_id])
GO
ALTER TABLE [dbo].[bookTour] CHECK CONSTRAINT [FK_bookTour_account]
GO
ALTER TABLE [dbo].[place]  WITH CHECK ADD  CONSTRAINT [FK_place_region] FOREIGN KEY([regionId])
REFERENCES [dbo].[region] ([regionId])
GO
ALTER TABLE [dbo].[place] CHECK CONSTRAINT [FK_place_region]
GO
ALTER TABLE [dbo].[tour]  WITH CHECK ADD  CONSTRAINT [FK_tour_place] FOREIGN KEY([placeId])
REFERENCES [dbo].[place] ([placeId])
GO
ALTER TABLE [dbo].[tour] CHECK CONSTRAINT [FK_tour_place]
GO
ALTER TABLE [dbo].[tour]  WITH CHECK ADD  CONSTRAINT [FK_tour_region] FOREIGN KEY([regionId])
REFERENCES [dbo].[region] ([regionId])
GO
ALTER TABLE [dbo].[tour] CHECK CONSTRAINT [FK_tour_region]
GO
ALTER TABLE [dbo].[tour]  WITH CHECK ADD  CONSTRAINT [FK_tour_tourGuider] FOREIGN KEY([guideId])
REFERENCES [dbo].[tourGuider] ([guideId])
GO
ALTER TABLE [dbo].[tour] CHECK CONSTRAINT [FK_tour_tourGuider]
GO
USE [master]
GO
