<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>servlet.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>servlet.DetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutServlet</servlet-name>
        <servlet-class>servlet.AboutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailTourGuide</servlet-name>
        <servlet-class>servlet.DetailTourGuide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegionListTour</servlet-name>
        <servlet-class>servlet.RegionListTour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>servlet.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderListServlet</servlet-name>
        <servlet-class>servlet.OrderListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUser</servlet-name>
        <servlet-class>servlet.ListUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>servlet.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>servlet.FeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>servlet.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeedbackController</servlet-name>
        <servlet-class>servlet.DeleteFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFeedbackServlet</servlet-name>
        <servlet-class>servlet.EditFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogController</servlet-name>
        <servlet-class>servlet.BlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailController</servlet-name>
        <servlet-class>servlet.BlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCondidion</servlet-name>
        <servlet-class>servlet.SearchCondidion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerTour</servlet-name>
        <servlet-class>servlet.ManagerTour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTour</servlet-name>
        <servlet-class>servlet.DeleteTour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTourServlet</servlet-name>
        <servlet-class>servlet.AddTourServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTour</servlet-name>
        <servlet-class>servlet.UpdateTour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>servlet.HistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>servlet.DeleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingPayment</servlet-name>
        <servlet-class>servlet.BookingPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingPaymentVer2</servlet-name>
        <servlet-class>servlet.BookingPaymentVer2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListJobGuide</servlet-name>
        <servlet-class>servlet.ListJobGuide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMemberTour</servlet-name>
        <servlet-class>servlet.ListMemberTour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TourChart</servlet-name>
        <servlet-class>servlet.TourChart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccountServlet</servlet-name>
        <servlet-class>servlet.AddAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>servlet.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.vnpay.common.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>com.vnpay.common.vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>com.vnpay.common.vnpayRefund</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUserByRole</servlet-name>
        <servlet-class>servlet.ListUserByRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllTour</servlet-name>
        <servlet-class>servlet.ListAllTour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTourBySortHighToLow</servlet-name>
        <servlet-class>servlet.GetTourBySortHighToLow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTourBySortLowToHigh</servlet-name>
        <servlet-class>servlet.GetTourBySortLowToHigh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTourByDateSoon</servlet-name>
        <servlet-class>servlet.GetTourByDateSoon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTourByTopRating</servlet-name>
        <servlet-class>servlet.GetTourByTopRating</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutServlet</servlet-name>
        <url-pattern>/AboutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailTourGuide</servlet-name>
        <url-pattern>/detailGuide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegionListTour</servlet-name>
        <url-pattern>/regionList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/BookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderListServlet</servlet-name>
        <url-pattern>/OrderListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUser</servlet-name>
        <url-pattern>/ListUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeedbackController</servlet-name>
        <url-pattern>/delete-feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFeedbackServlet</servlet-name>
        <url-pattern>/edit-feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogController</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailController</servlet-name>
        <url-pattern>/blogDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCondidion</servlet-name>
        <url-pattern>/SearchCondidion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerTour</servlet-name>
        <url-pattern>/ManagerTour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTour</servlet-name>
        <url-pattern>/DeleteTour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTourServlet</servlet-name>
        <url-pattern>/AddTourServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTour</servlet-name>
        <url-pattern>/UpdateTour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/HistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/DeleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingPayment</servlet-name>
        <url-pattern>/BookingPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingPaymentVer2</servlet-name>
        <url-pattern>/BookingPaymentVer2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListJobGuide</servlet-name>
        <url-pattern>/ListJobGuide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListMemberTour</servlet-name>
        <url-pattern>/ListMemberTour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TourChart</servlet-name>
        <url-pattern>/TourChart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccountServlet</servlet-name>
        <url-pattern>/AddAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/UpdateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayquery/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayrefund/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUserByRole</servlet-name>
        <url-pattern>/ListUserByRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllTour</servlet-name>
        <url-pattern>/ListAllTour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTourBySortHighToLow</servlet-name>
        <url-pattern>/GetTourBySortHighToLow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTourBySortLowToHigh</servlet-name>
        <url-pattern>/GetTourBySortLowToHigh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTourByDateSoon</servlet-name>
        <url-pattern>/GetTourByDateSoon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTourByTopRating</servlet-name>
        <url-pattern>/GetTourByTopRating</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            HomeController
        </welcome-file>
    </welcome-file-list>
</web-app>
